/*
	name:				Material Madness
	description:		just a bunch of CSS snippets, plus a color scheme. for powercord.
	version:			1.5.0.0
	author:				blw#9687
*/


/* welcome to the great restructuring! :tm: */
@import url("https://raw.githubusercontent.com/iblowmymind/material-madness/main/src/main.css");