/* Rounded Chat & Buttons */
.theme-dark .scrollableContainer-15eg7h {
  border-radius: 30px;
}
.newMessagesBar-1hF-9G.barBase-3xxDXu {
  width: 400px;
  border-radius: 20px;
  top: 5px;
  left: 5px;
}
.newMessagesBar-1hF-9G.barBase-3xxDXu
  .barButtonAlt-mYL1lj.barButtonBase-2uLO1z {
  width: auto;
}
.jumpToPresentBar-1cEnH0.barBase-3xxDXu {
  width: 400px;
  top: 5px;
  bottom: auto;
  right: 16px;
  left: auto;
  border-radius: 20px;
}
.jumpToPresentBar-1cEnH0.barBase-3xxDXu
  .barButtonAlt-mYL1lj.barButtonBase-2uLO1z {
  width: auto;
}

/* Consistent Colored Send Icon */
.sendIcon-1HcEzu {
  color: var(--interactive-normal);
}
.theme-dark .button-y6hemj:focus-within .activeButtonChild-2hgLAO,
.theme-dark .button-y6hemj:focus .activeButtonChild-2hgLAO,
.theme-dark .button-y6hemj:hover .activeButtonChild-2hgLAO {
  color: var(--interactive-active);
}
.sendIcon-1HcEzu:hover {
  color: var(--interactive-active);
}

/* Remove Invite from User Context Menu */
.item-1tOPte {
  margin: 0;
}
#user-context-invite-to-server {
  display: none;
}

/* White Connection Icons (BROKEN)
.connectedAccountIcon-2vls0t[alt*="Battle.net Logo"] {
  content: url("/assets/3a257c4cab129e956b05bd50047eb0f9.png");
}
.connectedAccountIcon-2vls0t[alt*="Facebook Logo"] {
  content: url("/assets/c926e69c482dac25b8e940db74496813.png");
}
.connectedAccountIcon-2vls0t[alt*="GitHub Logo"] {
  content: url("/assets/9e2893717851c493b4bff518f8b63ee7.png");
}
.connectedAccountIcon-2vls0t[alt*="League of Legends Logo"] {
  content: url("/assets/fbbd224a0d94747c102515090682bbe1.png");
}
.connectedAccountIcon-2vls0t[alt*="Reddit Logo"] {
  content: url("/assets/bcc7bc0c0b27f9cbadaa1a47ea79db22.png");
}
.connectedAccountIcon-2vls0t[alt*="Spotify Logo"] {
  content: url("/assets/fe3770614c2658a07dea3ecb286ce745.png");
}
.connectedAccountIcon-2vls0t[alt*="Skype Logo"] {
  content: url("/assets/de5fb9e860729912c65048c1c657e1a3.png");
}
.connectedAccountIcon-2vls0t[alt*="Steam Logo"] {
  content: url("/assets/baf4bdd36b7ef74e8f34b402e66f81f4.png");
}
.connectedAccountIcon-2vls0t[alt*="Twitch Logo"] {
  content: url("/assets/4c1bab3f945269a5c1be0b3a2c177141.png");
}
.connectedAccountIcon-2vls0t[alt*="Twitter Logo"] {
  content: url("/assets/2ac50d286a1c883f28b5149239a8ad36.png");
}
.connectedAccountIcon-2vls0t[alt*="YouTube Logo"] {
  content: url("/assets/0ef81742942677bcef0bebdfb7061d29.png");
}
.connectedAccountIcon-2vls0t[alt*="Xbox Logo"] {
  content: url("/assets/850ed4fcf5839b7a32651f5959e8511e.png");
} */

/* Better CodeMirror */
.powercord-quickcss .CodeMirror-gutters {
  border-right: none;
}
.powercord-quickcss .CodeMirror-activeline {
  background-color: var(--background-tertiary);
}
.powercord-quickcss > .powercord-quickcss-editor {
  background-color: var(--background-secondary);
}

/* Hide GIF, Sticker & Gift Nitro Buttons */
.contents-3ca1mk.button-2fCJ0o.button-3BaQ4X {
  display: none;
}

/* Hide Nitro Tab from Direct Messages (plugin used now?) */
/* #app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.sidebar-1tnWFu > nav > div.scroller-WSmht3.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN > ul > li:nth-child(3) > div > a {
  display: none;
} */