/* Actually better join server tab */
.theme-light .root-g14mjS {
  background-color: #232322 !important;
}
.theme-light .footer-31IekZ {
  background-color: #232322;
  border-color: rgba(0, 0, 0);
  box-shadow: none;
}
.templatesList-uohY49 {
  height: 335px;
}
div[class*="colorHeaderSecondary-g5teka size16-rrJ6ag subtitle-3m-md1"],
div[class*="colorHeaderSecondary-g5teka size12-oc4dx4 optionHeader-27AHfD"],
div[class*="colorHeaderSecondary-g5teka size16-rrJ6ag subtitle-1Q3BuX"],
div[class*="colorHeaderSecondary-g5teka size14-e6ZScH skip-2o6MGG"],
div[class*="colorHeaderSecondary-g5teka size16-rrJ6ag subtitle-1KdHaN"],
div[class*="colorHeaderSecondary-g5teka size14-e6ZScH"],
div[class*="colorHeaderSecondary-g5teka size14-3fJ-ot"],
div[class*="colorMuted-HdFt4q size12-oc4dx4 guidelines-1NSoht"],
div[class*="colorStandard-21JIj7 size16-rrJ6ag text-PdAsFQ"],
h5[class*="colorStandard-21JIj7 size14-e6ZScH h5-18_1nd title-3sZWYQ formTitle-aeXUoN"],
h3[class*="title-1_TkpU fontDisplay-3Gtuks base-21yXnu size24-17l95E"],
h3[class*="rowText-3MQqQi fontDisplay-3Gtuks base-21yXnu size16-rrJ6ag"],
h3[class*="title-1LqMUp fontDisplay-3Gtuks base-21yXnu size24-17l95E"],
h3[class*="footerTitle-3Bslxi fontDisplay-3Gtuks base-21yXnu size20-9iTTnl"],
h5[class*="colorStandard-21JIj7 size14-e6ZScH h5-18_1nd title-3sZWYQ defaultMarginh5-2mL-bP"] {
  color: white;
}
.container-x8Y1ix {
  background-color: #282828;
  margin-bottom: 8px;
}
.container-x8Y1ix:hover {
  background-color: var(--indicator-hovered);
}
.container-x8Y1ix:active {
  background-color: #2f3136;
}
.base-1x0h_U,
.colorStandard-21JIj7 {
  color: white;
}
.footerButton-24QPis.button-f2h6uQ.lookFilled-yCfaCM.colorGrey-2iAG-B.sizeMedium-2bFIHr.grow-2sR_-F {
  background: linear-gradient(var(--gradient-blurple));
  background-color: var(--brand-experiment);
  color: #fff;
}
.sampleLink-5BWNy9 {
  color: gray;
}
button[class*="backButton-iA7KIs button-38aScr lookBlank-3eh9lL colorBrand-3pXr91 sizeMin-1mJd1x grow-q77ONN"],
button[class*="button-38aScr lookLink-9FtZy- lowSaturationUnderline-3svVxy colorPrimary-3b3xI6 sizeMin-1mJd1x grow-q77ONN"],
button[class*="button-38aScr lookBlank-3eh9lL colorBrand-3pXr91 sizeMin-1mJd1x grow-q77ONN"],
.theme-light .lookLink-15mFoz.colorPrimary-2AuQVo,
.anchor-3Z-8Bb {
  color: var(--brand-experiment);
}
.input-m1-Y7Q {
  background-color: #232322;
}
.rowContainer-3t7486 {
  background-color: #232322;
}

/* Better Settings Search Icon Fix
.searchdiv .settingsicon {
  height: 14.9px;
} */

/* Modal fixes (for user notes & birthdays, etc.) */
.theme-dark .modal-yWgWj- {
  background-color: var(--background-secondary);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
  background-color: var(--background-secondary);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
  background-color: var(--background-secondary);
}

/* Fixes for the new discord CSS classes update */
.tabBody-2dgbAs {
  background-color: var(--background-primary);
}
.theme-dark .selected-3H3-RC {
  background-color: var(--background-modifier-hover);
}
.theme-dark .spoilerText-27bIiA.hidden-3B-Rum {
  background-color: var(--background-tertiary);
}
.theme-dark .spoilerText-27bIiA.hidden-3B-Rum:hover {
  background-color: rgba(18, 22, 24, 0.8);
}
.theme-dark .message-G6O-Wv {
  background-color: var(--background-primary);
}

/* Fix for images doing weird stuff when there's a "new message" overlay on front (Snippet credit: Sera#0788) */
#app-mount [id^="message-accessories"] {
  z-index: 0;
}

/* temp fix for emoji button on material theme, remove later? */
.sprite-2lxwfc {
  background-image: url(https://discord.com/assets/7e5013a9afc1404b0b89d99aaec0b398.png) !important;
}

/* Fix for ChannelTabs Padding */
#channelTabs-container {
  padding: 4px 8px 4px 8px !important;
}

/* Image Carousel Fix? */
.carouselModal-1eUFoq.zoomedCarouselModalRoot-beLNhM.root-g14mjS.fullscreenOnMobile-ixj0e3 {
  background-color: transparent !important;
}

/* Video New Download Button + MediaPlayer UI Fix for Bubble Messages */
.hoverButtonGroup-2yZIzC {
  top: 8px;
  right: 8px;
  border-radius: 10px;
}

.videoControls-2NzHnF {
  bottom: -6px;
}
