/* various imports */

/* Microsoft Fluent Icons (by: stickfab on GitHub, based on GoogleMaterialIcons by DavidNyan10 on GitHub) */
@import url("https://stickfab.github.io/pc-fluenticons/FluentIcons.css");

/* Gradient Buttons (by: LuckFire on GitHub) */
@import url("https://discord-extensions.github.io/snippets/gradient-buttons/source.css");

/* Profile Panel Thingy (by: Snare-Hawk#6331) */
@import url("https://snare-hawk.github.io/snare-CSS/profile-panel-thingy.css");

/* -IMPORT BROKEN?- Modern Indicators (by: LuckFire on GitHub) */
@import url("https://discord-extensions.github.io/modern-indicators/src/source.css");

:root {
    /* || Gradients */
    --gradient-special: 140deg, hsl(245, calc(var(--saturaton-factor, 1)*79%), 72%) 0%, hsl(287, calc(var(--saturaton-factor, 1)*80%), 70%) 100%;
    --gradient-blurple: 140deg, hsl(235, calc(var(--saturation-factor, 1)*85%), 72%) 0%, hsl(235, calc(var(--saturation-factor, 1)*85%), 60%) 100%;
    --gradient-green: 140deg, hsl(139, calc(var(--saturaton-factor, 1)*47%), 44%) 0%, hsl(139, calc(var(--saturaton-factor, 1)*66%), 24%) 100%;
    --gradient-yellow: 140deg, hsl(38, calc(var(--saturaton-factor, 1)*96%), 54%) 0%, hsl(38, calc(var(--saturaton-factor, 1)*82%), 41%) 100%;
    --gradient-red: 140deg, hsl(359, calc(var(--saturaton-factor, 1)*83%), 59%) 0%, hsl(359, calc(var(--saturaton-factor, 1)*54%), 37%) 100%;
    --gradient-grey: 140deg, hsl(214, calc(var(--saturaton-factor, 1)*10%), 50%) 0%, hsl(216, calc(var(--saturaton-factor, 1)*11%), 26%) 100%;

    /* || Transitions */
    --button-transition: 0.1s linear;
    --font-default: 500;
    --font-hover: 525;
    --fontsize-hover: 15px;
    --transform-normal: scale(1);
    --transform-hover: scale(1.15);
    --button-transform-hover: scale(1.04);
}

/* Begin Modern Indicators */
 /* || Accent Colors
 * Accent colors use HSL to remain compatible with Discord's built in saturation accessibility feature.
 * To the bigbrains out there, I know this is unnecessary. This is just how I prefer to do things.
 */
.theme-light {
    --indicator-unread: 0, calc(var(--saturation-factor, 1) * 0%), 0%;
    --indicator-selected: 235, calc(var(--saturation-factor, 1) * 86%), 65%;
    --indicator-connected: 139, calc(var(--saturation-factor, 1) * 47.6%), 48.6%;
    --indicator-hovered: hsla(var(--indicator-unread), 0.08);
    --text-active: black;
}
.theme-dark {
    --indicator-unread: 0, calc(var(--saturation-factor, 1) * 0%), 100%;
    --indicator-selected: 235, calc(var(--saturation-factor, 1) * 86%), 65%;
    --indicator-connected: 139, calc(var(--saturation-factor, 1) * 86%), 65%;
    --indicator-hovered: hsla(var(--indicator-unread), 0.045);
    --text-active: white;
}

/* || Main Customization */
:root {
    --indicator-border-size: 2px;
    --indicator-border-style: solid;
    --indicator-rounding: 0;

    /* || Advanced Coloring */
    --item-selected-icon: hsl(var(--indicator-selected));
    --item-selected-indicator: hsl(var(--indicator-selected));
    --item-selected-background: hsla(var(--indicator-selected), 0.1);
    --item-selected-background-hover: hsla(var(--indicator-selected), 0.2);

    --item-connected-icon: hsl(var(--indicator-connected));
    --item-connected-indicator: hsl(var(--indicator-connected));
    --item-connected-background: hsl(var(--indicator-connected), 0.1);
    --item-connected-background-hover: hsl(var(--indicator-connected), 0.2);

    --item-unread-icon: hsl(var(--indicator-unread));
    --item-unread-indicator: hsl(var(--indicator-unread), 0.5);
    --item-unread-background: hsl(var(--indicator-unread), 0.025);
    --item-unread-background-hover: hsl(var(--indicator-unread), 0.045);
}