/* Horizontally listed media (by: Freeplay#5676) */
[id*="message-accessories-"] {
  display: flex;
  flex-wrap: wrap;
}
[id*="message-accessories-"] > * {
  margin-right: 0.4em !important;
  min-height: 100% !important;
}
[id*="message-accessories-"] > div > a {
  display: flex;
  align-items: center;
  min-height: 100%;
  background-color: var(--background-secondary);
}
[id*="message-reactions"] {
  width: 100%;
}

/* Username Background (Cozy variant) (by: chloe.#9079, modified to remove the :after: that included the ":") */
.cozy-VmLDNB .headerText-2z4IhQ > span::before {
  content: "";
  width: calc(100% + 7px);
  height: 100%;
  border-radius: 5px;
  background-color: #484849;
  opacity: 0.3;
  position: absolute;
  top: 0;
  z-index: -1;
  /* repairs left shift*/
  left: -3px;
}
/* repairs left shift */
.cozy-VmLDNB .headerText-2z4IhQ > span {
  margin-left: 3px;
}

/* Consistent PC Settings Titles (by: akisblack#6148) */
.contentColumnDefault-1VQkGM > div > :nth-child(1) {
  font-size: 20px;
  line-height: 24px;
  text-transform: none;
}

/* No Whole-width Codeblocks (by: Neppkun#0030) */
.markup-eYLPri code {
  width: fit-content;
}
.vpc-shiki {
  width: fit-content;
}
pre.vpc-shiki {
  width: fit-content;
}

/* Dash2Space (by: Kweeme | 🍮#5748, originally Slddev/ModernX-Theme, modified to remove capitalization) */
@font-face {
  font-family: dash2space;
  unicode-range: U+002D;
  src: url(https://smarty6788.github.io/Dash2Space/src/font/dash2space.ttf)
      format("truetype"),
    url(https://smarty6788.github.io/Dash2Space/font/dash2space.woff2)
      format("woff2");
}
#app-mount
  [data-list-item-id*="channels___upcoming-events-"]
  > div.name-28HaxV {
  font-size: 14px;
  font-family: dash2space, var(--font-primary);
}
.autocompleteRowVertical-EA9dCg[data-list-item-id*="channel-autocomplete"]
  .autocompleteRowContentPrimary-1kUW9H
  .colorInteractiveActive-30E9n8,
.content-2a4AW9 .emptyChannelIcon-1YdEz2 ~ .size32-5yOQel,
.quickswitcher-pKcM9U .result-u66Ywh .match-20K5f5,
.sidebar-1tnWFu .mainContent-20q_Hp[href] .channelName-3KPsGw,
.title-31SJ6t .iconWrapper-2awDjA + .title-17SveM,
.wrapper-1ZcZW-[class="wrapper-1ZcZW- mention interactive"] {
  font-family: dash2space, var(--font-primary);
}
.title-17SveM {
	font-family: dash2space, var(--font-primary);
} /* Actually make the titles use dash2space as well */

/* Teardrop Messages 1.10 (by: Freeplay#5676, modified) */
:root {
    --background-message-hover: transparent;
}
.cozy-VmLDNB .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB), .embedFull-1HGV2S, .wrapper-1HIH0j,
.message-2CShn3 .imageWrapper-oMkQl4,
.cozy-VmLDNB .repliedMessage-3Z6XBG {
    background-color: var(--background-secondary);
    font-weight: 500;
    margin-left: 0 !important;
    margin-top: 4px !important;
    padding-left: 0 !important;
    padding: 8px 12px !important;
    border-radius: 16px;
    border-top-left-radius: 0 !important;
    width: max-content;
    max-width: 80%;
    box-shadow: var(--elevation-low);
    overflow: visible !important;
    box-sizing: border-box;
}
.container-rr3Ruk {
    border-radius: 16px !important;
    border-top-left-radius: 0 !important;
    overflow: hidden;
}
.container-rr3Ruk > div {
    border: none !important;
}
.container-rr3Ruk code {
    padding: 10px !important;
    background-color: var(--background-primary);
    border: 1px solid var(--background-tertiary);
    border-top-right-radius: 16px;
}
.theme-dark .container-rr3Ruk code {
    background-color: var(--background-tertiary);
}
.message-2CShn3 .imageWrapper-oMkQl4 {
    padding: 0 !important;
    max-width: 100% !important;
    overflow: hidden !important;
}
.embedGalleryImagesWrapper-3BWvNM {
    overflow: hidden;
    border-radius: 16px;
    border-top-left-radius: 0;
    margin-top: 20px;
}
.embedGalleryImagesWrapper-3BWvNM .imageWrapper-oMkQl4 {
    border-radius: 0 !important;
}
.embedGallerySide-3zsYpc {
    margin-top: -4px;
}
.cozy-VmLDNB.message-2CShn3:hover .messageContent-2t3eCI, .message-2CShn3:hover .embedFull-1HGV2S, .cozy-VmLDNB .message-2CShn3:hover .wrapper-1HIH0j,
.message-2CShn3:hover .imageWrapper-oMkQl4,
.message-2CShn3:hover .container-rr3Ruk {
    box-shadow: var(--elevation-medium) !important;
}
.cozy-VmLDNB.systemMessage-1H1Z20 .messageContent-2t3eCI {
    border-top-left-radius: 16px !important;
}
.cozy-VmLDNB .blockquoteContainer-3VtvI1 blockquote {
    box-sizing: content-box !important;
    max-width: unset !important;
}
.message-2CShn3 .wrapper-1HIH0j {
    padding: 14px 12px !important;
    width: 432px !important;
    background-color: var(--background-secondary);
}
.theme-dark .cozy-VmLDNB .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB), .theme-dark .embedFull-1HGV2S {
    background-color: var(--background-modifier-selected);
    font-weight: 400;
}
.cozy-VmLDNB.message-2CShn3 {
    background: none !important;
}
.message-2CShn3::before {
    content: unset !important;
}
.cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB),
.cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .embedFull-1HGV2S,
.cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .container-rr3Ruk > div {
    background-color: var(--background-tertiary) !important;
}
.cozy-VmLDNB.message-2CShn3.mentioned-Tre-dv .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB) {
    background-color: var(--background-mentioned) !important;
    border-left: 2px solid #faa61a;
}
.theme-dark .cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB),
.theme-dark .cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .embedFull-1HGV2S,
.theme-dark .cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .container-rr3Ruk > div {
    background-color: var(--background-secondary-alt) !important;
}
.embedFull-1HGV2S {
    max-width: 520px;
    width: auto !important;
}
.embedFull-1HGV2S .grid-1aWVsE {
    padding: 0 4px;
    padding-bottom: 8px;
}
.embedFull-1HGV2S .embedThumbnail-2nTasl {
    margin-left: 12px !important;
}
.cozy-VmLDNB .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB) pre {
    max-width: 100%;
}
.cozy-VmLDNB .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB) pre code {
    background-color: var(--background-primary);
    border-radius: 0;
    border-radius: 16px;
    border-top-left-radius: 0 !important;
}
.theme-dark .cozy-VmLDNB .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB) pre code {
    background-color: var(--background-tertiary);
}
.cozy-VmLDNB .repliedMessage-3Z6XBG {
    border-bottom-left-radius: 0 !important;
    margin-bottom: -4px !important;
    background-color: var(--background-secondary-alt);
}
.cozy-VmLDNB .repliedMessage-3Z6XBG::before {
    content: unset !important;
}
.cozy-VmLDNB .repliedMessage-3Z6XBG ~ .contents-2MsGLg > .messageContent-2t3eCI:first-of-type {
    border-top-right-radius: 0;
}
.cozy-VmLDNB .repliedMessage-3Z6XBG, .repliedMessage-3Z6XBG ~ .contents-2MsGLg > .messageContent-2t3eCI:first-of-type {
    width: 60% !important;
    width: clamp(500px, 100%, 600px) !important;
}
.executedCommand-14-SNW {
    height: unset !important;
}
.cozy-VmLDNB .repliedMessage-3Z6XBG ~ .contents-2MsGLg > .messageContent-2t3eCI:first-of-type::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 16px;
    height: 16px;
    background-color: var(--background-secondary-alt);
    border-top-left-radius: 100%;
}
.cozy-VmLDNB.wrapper-30-Nkg {
    display: flex;
    flex-direction: column;
}
.cozy-VmLDNB .contents-2MsGLg {
    display: contents;
}
.cozy-VmLDNB .contents-2MsGLg .header-2jRmjb {
    order: -1;
}
.cozy-VmLDNB .contents-2MsGLg > span {
    order: -1;
}

/* Smooth Gradient on Server Banners (by: Loremly#9359) */
.header-3OsQeK {
  box-shadow: none;
}
.animatedContainer-2laTjx {
  box-shadow: none;
}
.animatedContainer-2laTjx::before {
  background: linear-gradient(transparent 0%, var(--background-secondary) 100%, transparent 0%);
  position: absolute;
  content: "";
  height: 20px;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

/* Fix Pinned Message Popout (by: progamer#3321) */
.messagesPopoutWrap-3zryHW{
  max-height:70vh !important;
  width:30vw;
}

/* Theme Toggler Grid View (by: CorellanStoma#1996) */
/* Spacing */
#theme-toggler-tab .powercord-product,
#theme-toggler-tab .powercord-product-header,
#theme-toggler-tab .powercord-product .description,
#theme-toggler-tab .powercord-product .metadata,
#theme-toggler-tab .powercord-product-permissions,
#theme-toggler-tab .powercord-product-footer {
  margin: 0px;
}
#theme-toggler-tab .powercord-product-details {
  display: flex;
  flex-direction: column-reverse;
}
/* Header */
#theme-toggler-tab .powercord-entities-manage-header {
  background: var(--background-secondary-alt);
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 20px;
}
/* Grid */
#theme-toggler-tab .powercord-entities-manage-items {
  display: grid;
  grid-template-columns: repeat(var(--count), max-content);
  grid-gap: 24px;
  --count: 2;
}
/* Card */
#theme-toggler-tab .powercord-product {
  background-color: var(--background-secondary-alt);
  border-radius: 8px;
  width: 280px;
  padding: 16px;
  border: none;
}
/* Preview */
#theme-toggler-tab .powercord-product-header::before {
  content: "";
  background: var(--background-primary);
  border-radius: 4px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 156px;

  margin-bottom: 16px;
  z-index: 4;
}
#theme-toggler-tab .powercord-product::after {
  content: "";
  background: var(--background-secondary);
  border-radius: 4px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px;
  z-index: 6;
  width: 248px;
  top: 16px;
  mask: var(--mask);
  -webkit-mask: var(--mask);
  mask-size: var(--cover);
  -webkit-mask-size: var(--cover);
  --mask: url("https://i.imgur.com/5uBez1d.png");
  --cover: cover;
}
#theme-toggler-tab .powercord-product::before {
  content: "";
  background: var(--interactive-active);
  border-radius: 4px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px;
  z-index: 8;
  width: 248px;
  top: 16px;
  mask: var(--mask);
  -webkit-mask: var(--mask);
  mask-size: var(--cover);
  -webkit-mask-size: var(--cover);
  --mask: url("https://i.imgur.com/8a5E0uu.png");
  --cover: cover;
}
/* Header */
#theme-toggler-tab .powercord-product-header {
  color: var(--header-primary);
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
/* Description */
#theme-toggler-tab .powercord-product-details .description {
  color: var(--header-secondary);
  padding-top: 12px;
  overflow-y: hidden;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}
/* Metadata */
#theme-toggler-tab .metadata {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}
/* Author */
#theme-toggler-tab .author {
  color: var(--header-primary);
  margin: 8px 0px 0px 0px;
}
#theme-toggler-tab .author::before {
  content: "by\00a0";
}
/* Version */
#theme-toggler-tab .version {
  position: absolute;
  bottom: 12px;
  left: 16px;
}
/* License */
#theme-toggler-tab .license {
  position: absolute;
  bottom: 12px;
  left: 110px;
}
#theme-toggler-tab .license [role="button"] {
  margin-bottom: 3px;
}
/* Checkbox */
#theme-toggler-tab .powercord-product-header [aria-label="Enable"],
#theme-toggler-tab .powercord-product-header [aria-label="Disable"] {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
/* Remove */
#theme-toggler-tab .author div,
#theme-toggler-tab .description div,
#theme-toggler-tab .divider-3LgWDL,
[d="M618 971L448 769V416h21q14 0 23-9.5t9-23t-9-22.5t-23-9h-53q-13 0-22.5 9t-9.5 23v397q0 13 8 22l131 157H117l131-157q8-9 8-22V384q0-14-9.5-23t-22.5-9h-53q-14 0-23 9t-9 22.5t9 23t23 9.5h21v353L22 971q-14 15-6 34q4 9 12 14t17 5h550q20 0 28.5-19t-5.5-34zM288 320q26 0 45-19t19-45.5t-19-45t-45-18.5q-13 0-25 5t-20.5 13.5T229 231t-5 25q0 6 1 11.5t3 10.5t5 10t6.5 9t7.5 7.5t9 6.5t10 5t10.5 3t11.5 1zm208.5-95q46.5 0 79.5-33t33-79.5T576 33T496.5 0T417 33t-33 79.5t33 79.5t79.5 33zM496 64q10 0 19 3.5t15.5 10t10 15.5t3.5 19q0 20-14 34t-34 14q-13 0-24-6.5T454.5 136t-6.5-24q0-20 14-34t34-14z"] {
  display: none;
}

/* (OLD) GIF and Sticker buttons only show on hover (by: Obscure.#4719)
[aria-label="Send en gave"],
[aria-label="Ein Geschenk senden"],
[aria-label="Send a gift"],
[aria-label="Enviar un regalo"],
[aria-label="Envoyer un cadeau"],
[aria-label="Pošalji poklon"],
[aria-label="Invia un regalo"],
[aria-label="Siųsti dovaną"],
[aria-label="Ajándék küldése"],
[aria-label="Verstuur een cadeau"],
[aria-label="Wyślij prezent"],
[aria-label="Enviar um presente"],
[aria-label="Trimite un cadou"],
[aria-label="Lähetä lahja"],
[aria-label="Skicka en gåva"],
[aria-label="Tặng một món quà"],
[aria-label="Bir hediye gönder"],
[aria-label="Odeslat dárek"],
[aria-label="Στείλτε ένα δώρο"],
[aria-label="Изпрати подарък"],
[aria-label="Отправить подарок"],
[aria-label="Надіслати подарунок"],
[aria-label="ส่งของขวัญ"],
[aria-label="发送礼物"],
[aria-label="ギフトを贈る"],
[aria-label="發送禮物"],
[aria-label="선물 보내기"] {
    position: absolute;
    top: 5px;
    right: 90px;
    z-index: 1;
}
.expression-picker-chat-input-button:nth-child(3) button {
  padding: 0px 2px;
  padding-top: 5px;
}
.expression-picker-chat-input-button:nth-child(2),
.expression-picker-chat-input-button:nth-child(3) {
    position: fixed;
    bottom: 37px;
    margin-bottom: 0px;
    background-color: var(--channeltextarea-background);
    border-radius: 10px 10px 0px 0px;
    animation: slideDown .4s;
    opacity: 0;
    z-index: -1;
}
.buttons-uaqb-5:hover .expression-picker-chat-input-button:nth-child(2) {
     animation: slideUp .4s forwards;
     opacity: 1;
}
.buttons-uaqb-5:hover .expression-picker-chat-input-button:nth-child(3) {
     z-index: -101;
     animation: slideUp2 .4s forwards;
     opacity: 1;
}
@keyframes slideUp {
  to {
      margin-bottom: 30px;
      padding-bottom: 5px;
  }
}
@keyframes slideUp2 {
  to {
      margin-bottom: 60px;
      padding-bottom: 10px;
  }
}
@keyframes slideDown {
  from {
      margin-bottom: 37px;
}
  to {
      margin-bottom: 0px;
  }
} (this is unused now, check components.css) */